<div class="container" *ngIf="!chatDisplay">
  <div class="messaging">
    <div class="inbox_msg">
      <div class="mesgs">
        <div class="chat-title">
          <!-- <dx-select-box
            class="chat-select"
            [dataSource]="listFriends"
            [searchEnabled]="true"
            [searchExpr]="['name']"
            displayExpr="name"
            valueExpr="name"
            [(value)]="valueSelectFriend"
            placeholder="Select or search friend you want chat ?"
            (onValueChanged)="selectFriend()"
            style="background-color: #e7e7e7; border-radius: 10px"
          >
          </dx-select-box> -->
          <div class="chatbox-avatar">
            <a target="_blank" href="https://www.facebook.com/boxbox2000/"><img [src]="profile.avatar" /></a>
          </div>
          <div style="color: black; margin-left: 40px;   text-align: center;
          font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; font-weight: 800;">{{profile.name}}</div>
          <div class="chat-icon">
            <dx-button class="icon" icon="tel" type="success"> </dx-button>
            <dx-button class="icon" icon="video" type="default"> </dx-button>
            <dx-button class="icon" icon="minus" type="normal"> </dx-button>
            <dx-button class="icon" icon="close" type="danger" (onClick)="close()"></dx-button>
          </div>
        </div>
        <hr>
        <div class="msg_history">
          <div *ngFor="let msg of messages">
            <div class="incoming_msg" *ngIf="msg.type == 'received'">
              <div class="incoming_msg_img"></div>
              <div class="received_msg">
                <div class="received_withd_msg">
                  <p>
                    {{ msg.message }}
                  </p>
                  <span class="time_date">
                    {{ msg.date | date: "medium" }}
                  </span>
                </div>
              </div>
            </div>
            <div class="outgoing_msg" *ngIf="msg.type == 'sent'">
              <div class="sent_msg">
                <p>
                  {{ msg.message }}
                </p>
                <span class="time_date"> {{ msg.date | date: "medium" }}</span>
              </div>
            </div>
          </div>
        </div>
        <div class="type_msg">
          <div class="input_msg_write">
            <input
              type="text"
              class="write_msg"
              [value]="txtMessage"
              (input)="handleInput($event)"
              (keydown.enter)="sendMessage()"
              placeholder="Type a message"
            />
            <dx-button icon="arrowright" class="msg_send_btn" type="default" (onClick)="sendMessage()">
            </dx-button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
