::ng-deep .list-container {
  min-height: 440px;
  height: auto;
  position: absolute;
  top: 0;
  bottom: 0;
}

::ng-deep .product {
  height: 65px;
}

::ng-deep .product > img {
  height: 45px;
  width: 45px;
  float: left;
  border-radius: 10px;

  background-size: cover;
  overflow: hidden;
  border-radius: 50%;
  background: white;
  padding: 3px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
  transition: 0.1s ease-out;
}

::ng-deep .product > div {
  padding-left: 10px;
  vertical-align: top;
  line-height: 65px;
  font-size: 15px;
  float: left;
}

::ng-deep .product > div.price {
  float: right;
  font-size: 18px;
}


