<div class="list-container">
  <dx-list
    [dataSource]="profileSource"
    height="100%"
    [searchEnabled]="true"
    searchExpr="name"
    searchMode="contains"
  >
    <div *dxTemplate="let item of 'item'">
      <div class="product" (click)="selectFriend(item)">
      <img src="{{ item.avatar }}" />
    <div>Online</div>
        <div class="price">{{ item.name }}</div>
      </div>
    </div>
  </dx-list>
</div>
<!-- <div *ngFor="let item of listId">
  <app-chat [id]="item"></app-chat>
</div> -->
