<h2 class="content-block">Search and add friend</h2>

<dx-data-grid
  #grid
  class="dx-card wide-card"
  [dataSource]="profileSource"
  [showBorders]="false"
  [focusedRowIndex]="0"
  [columnAutoWidth]="true"
  [columnHidingEnabled]="true"
>
  <dxo-sorting mode="multiple"></dxo-sorting>
  <dxo-filter-row [visible]="true"></dxo-filter-row>
  <dxo-paging [pageSize]="10"></dxo-paging>
  <dxo-pager [showPageSizeSelector]="true" [showInfo]="true"></dxo-pager>
  <dxo-filter-row [visible]="true"></dxo-filter-row>
  <dxo-search-panel
    [visible]="true"
    [width]="240"
    placeholder="Search..."
  ></dxo-search-panel>
  <dxi-column
    dataField="avatar"
    [hidingPriority]="2"
    [width]="160"
    [allowFiltering]="false"
    [allowSorting]="false"
    cellTemplate="cellTemplate"
  >
  </dxi-column>
  <div *dxTemplate="let data of 'cellTemplate'">
    <img [src]="data.value" />
  </div>
  <dxi-column dataField="name" [width]="90" [hidingPriority]="2"> </dxi-column>
  <dxi-column dataField="date" [width]="120" [hidingPriority]="2"  cellTemplate="cellTemplateDate"> </dxi-column>
  <div *dxTemplate="let data of 'cellTemplateDate'">
    {{data.data.date | date: 'dd/MM/yyyy'}}
  </div>
  <dxi-column dataField="sex" [width]="90" [hidingPriority]="2"> </dxi-column>
  <dxi-column dataField="age" [width]="90" [hidingPriority]="2"> </dxi-column>
  <dxi-column dataField="location" [width]="90" [hidingPriority]="2">
  </dxi-column>
  <dxi-column
    dataField="edit"
    [hidingPriority]="2"
    [width]="120"
    cellTemplate="cellTemplateButton"
  ></dxi-column>
  <div *dxTemplate="let data of 'cellTemplateButton'">
   <dx-button *ngIf="checkAdded(data)" icon="add" (onClick)="addFriend(data)" type="success" style="margin-right: 5px;"></dx-button>
   <dx-button *ngIf="!checkAdded(data)" icon="remove" (onClick)="deleteFriend(data)" type="default"></dx-button>
  </div>
</dx-data-grid>
