<header class="header-parent">
  <dx-toolbar class="header-toolbar">
    <dxi-item
      *ngIf="menuToggleEnabled"
      location="before"
      widget="dxButton"
      cssClass="menu-button"
      [options]="{
        icon: 'menu',
        stylingMode: 'text',
        onClick: toggleMenu
      }"
    >
    </dxi-item>
    <dxi-item
      location="before"
      cssClass="header-title"
      *ngIf="title"
      [text]="title"
    >
    </dxi-item>
    <dxi-item style="display: flex">
      <dx-text-box
        id="textboxer"
        width="200%"
        height="80%"
        style="
          background-color: #e8f4fe;
          border-radius: 10px;
          color: black !important;
        "
        [(value)]="nameSearch"
      ></dx-text-box>
      <dx-button
        type="input"
        icon="search"
        (onClick)="search(nameSearch)"
      ></dx-button>
      <dx-button icon="home" (onClick)="backHome()"> </dx-button>
      <dx-button icon="email" class="notification"> </dx-button>
    </dxi-item>
    <dxi-item location="after" locateInMenu="auto" menuItemTemplate="menuItem">
      <div *dxTemplate="let data of 'item'">
        <dx-drop-down-button
          [dropDownOptions]="{ width: 350, height: 600 }"
          icon="globe"
          [items]="notifySource"
          displayExpr="name"
          keyExpr="id"
          [showArrowIcon]  = 'false'
          (onItemClick)="onItemClick($event)"
        ></dx-drop-down-button>
        <dx-button
          class="user-button authorization"
          width="210px"
          height="100%"
          stylingMode="text"
        >
          <div *dxTemplate="let data of 'content'">
            <app-user-panel
              [user]="user"
              [menuItems]="userMenuItems"
              menuMode="context"
            ></app-user-panel>
          </div>
        </dx-button>
      </div>
    </dxi-item>
    <div *dxTemplate="let data of 'menuItem'">
      <app-user-panel
        [user]="user"
        [menuItems]="userMenuItems"
        menuMode="list"
      ></app-user-panel>
    </div>
  </dx-toolbar>
  <dx-popup
  [width]="300"
  [height]="280"
  [showTitle]="true"
  title="Calling"
  hideOnOutsideClick="true"
  [dragEnabled]="false"
  [showCloseButton]="false"
  container=".dx-viewport"
  [(visible)]="callState"
>
  <dxi-toolbar-item
    type='success'
    widget="dxButton"
    toolbar="bottom"
    location="before"
    [options]="acceptButton"
    (onclick)="teleCall()"
  >
  </dxi-toolbar-item>
  <dxi-toolbar-item
    widget="dxButton"
    toolbar="bottom"
    location="after"
    [options]="dennyButton"
  >
  </dxi-toolbar-item>
  <div>
    <div class="product1">
      <img src="{{ callRequest?.fromUser?.avatar }}"/>
        <div class="price1">{{ callRequest?.fromUser?.name }} is calling you</div>
      </div>
  </div>
</dx-popup>

<dx-popup
[width]="700"
[height]="480"
[showTitle]="true"
title="Calling"
hideOnOutsideClick="true"
[dragEnabled]="false"
[showCloseButton]="false"
container=".dx-viewport"
[(visible)]="notifyState"
>
<dxi-toolbar-item
  type='success'
  widget="dxButton"
  toolbar="bottom"
  location="before"
  [options]="acceptButton"
>
</dxi-toolbar-item>
<dxi-toolbar-item
  widget="dxButton"
  toolbar="bottom"
  location="after"
  [options]="dennyButton"
>
</dxi-toolbar-item>
<div>
  <div class="product1">
    <img src="{{ callRequest?.fromUser?.avatar }}"/>
      <div class="price1">{{ callRequest?.fromUser?.name }} is calling you</div>
    </div>
</div>
</dx-popup>
</header>
