@import "../../../../themes/generated/variables.base.scss";
@import "../../../../dx-styles.scss";

:host {
  flex: 0 0 auto;
  z-index: 1;
}

::ng-deep .dx-toolbar.header-toolbar .dx-toolbar-items-container .dx-toolbar-after {
  padding: 0 40px;
  :host-context(.screen-x-small) & {
    padding: 0 20px;
  }
}

::ng-deep .dx-toolbar .dx-toolbar-item.menu-button {
  width: $side-panel-min-width;
  text-align: center;
  padding: 0;
}

::ng-deep .header-title .dx-item-content {
  padding: 0;
  margin: 0;
}

:host-context(.dx-theme-generic) {
  .dx-toolbar {
    padding: 10px 0;
  }

  .user-button>.dx-button-content {
    padding: 3px;
  }
}

::ng-deep .header-parent .dx-toolbar-items-container
{
  height: 96px;
  animation: zoom 3s ease;
  border-radius: 10px;
}
@keyframes zoom {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

::ng-deep #textboxer .dx-texteditor-input {
  color: black;
}

::ng-deep .dx-dropdownbutton .dx-buttongroup .dx-buttongroup-first-item {
  border: none;
}

::ng-deep .product1 {
  height: 65px;
}

::ng-deep .product1 > img {
  height: 45px;
  width: 45px;
  float: left;
  border-radius: 10px;
  background-size: cover;
  overflow: hidden;
  border-radius: 50%;
  background: white;
  padding: 3px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
  transition: 0.1s ease-out;
}

::ng-deep .product1 > div {
  padding-left: 10px;
  vertical-align: top;
  line-height: 65px;
  font-size: 15px;
  float: left;
}

::ng-deep .product1 > div.price1 {
  float: left;
  font-size: 18px;
}
