
        <div id="timeline">
            <div>
                            Random text
            </div>
        </div>

        <script type="text/javascript">
                //detects when user reaches the end
            window.addEventListener("scroll", function(){
                var wrap = document.getElementById('timeline');
                var contentHeight = wrap.offsetHeight;
                var yOffset = window.pageYOffset;
                var y = yOffset + window.innerHeight;
                if(y >= contentHeight)
                {
                    //load new content
                    wrap.innerHTML = wrap.innerHTML + "<div>Random text</div>";
                }
            })

        </script>
