<div class="form-parent">
<form action="your-action" (submit)="submitForm()">
<dx-form id="form" [formData]="profile">
  <dxi-item itemType="group" cssClass="first-group" [colCount]="1">
    <br>
    <div class="title">
    <dxi-item dataField="avatar" class="title-avatar">
      <div id="form-avatar"></div>
      <div id="fileuploader-container">
        <dx-file-uploader
          selectButtonText="Select photo"
          labelText=""
          accept="image/*"
          uploadMode="useForm"
          (onValueChanged)="updateClick($event)"
        >
        </dx-file-uploader>
      </div>
    </dxi-item>
    <div class="title-name"><h2><strong>Profile: {{profile.name}}</strong></h2></div>
  </div>
  </dxi-item>
  <dxi-item itemType="group" cssClass="second-group" [colCount]="1">
    <dxi-item itemType="group">
      <dxi-item dataField="name"></dxi-item>
      <dxi-item dataField="date"   editorType="dxDateBox"
      [editorOptions]="{ width: '100%' }"></dxi-item>
      <dxi-item dataField="sex"></dxi-item>
      <dxi-item dataField="age"></dxi-item>
      <dxi-item dataField="location"></dxi-item>
    </dxi-item>
  </dxi-item>
    <dxi-item
    *ngIf="!this.stateSearch"
    itemType="button"
    horizontalAlignment="center"
    [buttonOptions]="buttonOptions"
  >
</dxi-item>
</dx-form>
</form>
</div>
